<section class="whyNoble noise">
    <div class="wrapper clearfix">
        <h2>Why Train With Noble?</h2>
        <div class="reasonsList">
            <h3><a href="javascript:;"><%= Time.now.year-1991 %> Years of Experience</a></h3>
            <div>
              <p>Noble Desktop has been teaching computer graphics and web development since 1991. In all those years we have perfected the craft of teaching. If students get hung up on any issue, we tweak the class to make it work better. Every instructor uses the same time-tested curriculum we have developed. Ask around: Noble Desktop has a stellar reputation for exceptional computer graphics training.</p>
            </div>
            <hr>
            
            <h3><a href="javascript:;">Our Teaching Method is Better</a></h3>
            <div>
                <p>We don't ask you to simply "follow along," copying what the instructor does. Instead we ask you to focus 100% attention on the lesson at hand. Only after the lesson do you then put into practice what you have learned by working on a computer with our step-by-step workbooks. This "learn, then practice" method results in the student learning and retaining much more than traditional "follow along" classes.</p>
            </div>
            <hr>
            
            
            <h3><a href="javascript:;">We Wrote the Book Ourselves</a></h3>
            <div>
                <p>Most of our classes include a custom training workbook written by our top instructors. Take it home with you: with step-by-step exercises and power-user keyboard shortcut guides, it’s like having a refresher course right on your desk. We wrote the book ourselves because we couldn't find any book that was good enough. Now our books are being used by other schools and training centers worldwide.</p>
            </div>
            <hr>
            
            <h3><a href="javascript:;">We Provide Computers, Mac or PC</a></h3>
            <div>
                <p>Since when did training centers expect you to "bring a laptop"? Noble Desktop has always had classrooms full of computers, Mac and PC. Each computer is loaded with software and has a 19-inch monitor. The next time you are asked to "bring a laptop," ask why you aren't being provided a computer. Noble Desktop always has up-to-date equipment in our state-of-the-art classrooms.</p>
            </div>
            <hr>
            
            <h3><a href="javascript:;">Not Just Anyone Can Teach</a></h3>
            <div>
                <p>All our instructors are working professionals who bring on-the-job experience to the classroom. But we don't just let anyone teach a course. How many experts do you know who can't teach? We've learned to audition and test our instructors. Only after they have been through our screening process will they be put in front of students. And they are required to use our time-tested curriculum, assuring a positive learning experience for all our students. <a href="/instructors/">Read our instructor bios.</a></p>
            </div>
            <hr>
                        
            <h3><a href="javascript:;">Money-Back Guarantee</a></h3>
            <div>
                <p>We’re the only school to offer an unconditional money-back guarantee. If you don’t absolutely LOVE your class, we’ll give you a full refund! Compare that to other "schools" that have a no-refund policy. Is that even legal? It certainly isn't right. At Noble we treat our students with respect and common sense. </p>
            </div>
            <hr>

            <h3><a href="javascript:;">We Are NY State-Licensed, and Adobe Authorized</a></h3>
            <div>
                <p>When looking at a computer training school, check to see if they are <a href="http://www.acces.nysed.gov/bpss/DIRECTORY1.htm" target="_blank">NY State-licensed</a>. Any school in New York should be licensed by law. Noble Desktop follows state-issued guidelines for curriculum development and teacher licensing. Adobe Authorized means our instructors have passed the rigorous Adobe Certification Exam, and that we follow Adobe's quality-control standards.</p>
            </div>
            <hr>
            
            <h3><a href="javascript:;">Our Students Love Us! 2000+ Testimonials and Counting</a></h3>
            <div>
                <p>We offer our guarantee because we think we’re the best—but  don’t take our word for it. Ask more than <cfoutput>#roundedTestimonials#</cfoutput> industry professionals who have enjoyed our classes and are putting what they learned to use on the job. <a href="/testimonials/">Read their testimonials.</a></p>
            </div>
            <hr>
        </div>
      <%= image_tag "whyNoble-adobeAuthorized.png", {class: "adobeAuthorized"} %>
    </div>
</section>