#cart {
  width: 680px;
  margin-left:auto; 
    margin-right:auto;
  margin-bottom: 30px;
}
#cart h1, #orderInfo h1 {
  font: 37px/36px LeagueGothicRegular, Arial, sans-serif;
  text-transform: uppercase;
}
td h3 {
  border-bottom: 1px solid #CCC;
  padding-bottom: 4px;
}
#cart table {
  width: 100%;
  margin-left:auto; 
    margin-right:auto;
}
#cart table td {
  padding: 4px;
}
#cart table.bottomButtons {
  margin-top: 10px;
}
#cart tr.spaceAbove > td
{
  padding-top: 30px;
}
#cart table.noItems {
  text-align: center;
}
#cart td.qty {
  padding-right: 0px;
}
#cart input.qty {
  margin-right: 19px;
}
#checkout {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 700px;
}
#accountLogin {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
#accountLogin input {
  background-color: #FFF;
  width: 245px
}
#accountLogin .forgotPasswordLink {
  display: block;
  margin-top: 10px;
}
#accountLogin h1 {
  margin-bottom: 15px;
}
#orderInfo {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 530px;
}
#orderInfo h1 {
  margin-bottom: 20px;
}
.ie7 #orderInfo {
  padding-bottom: 0;
}
#orderInfo #billing {
  float: left;
}
#orderInfo #shipping {
  float: right;
}
#orderInfo #billing, #orderInfo #shipping {
  margin-bottom: 15px;
}
#orderInfo #billing h2, #orderInfo #shipping h2 {
  font: 30px/29px LeagueGothicRegular, Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.ie7 #orderInfo #billing, .ie7 #orderInfo #shipping {
  margin-bottom: 0px;
}
.ie7 #orderInfo #billing p, .ie7 #orderInfo #shipping p {
  margin-bottom: 0px;
}
#orderInfo #shippingForm {
  clear: both;
}
#orderInfo .shippingOption {
  font-size: 14px;
    font-weight: bold;
  margin-bottom: 10px;
}
#orderInfo #shippingWarning {
  clear: both;
}
.ie7 #orderInfo #makeChangesButton {
  float: left;
}
#orderInfo #checkoutButton {
  float: right;
}
#orderInfo .shippingtimehighlight {
  color: #F00;
  margin-bottom: 15px;
}
#orderInfo.reviewOrder, #orderInfo.confirmation {
  width: 600px;
}
#orderInfo .clickOnce {
  margin-bottom: 0;
    margin-left: 380px;
    margin-top: 8px;
    width: 170px;
}
#orderInfo.confirmation .thankYou {
  margin-bottom: 10px;
}
#orderInfo.confirmation .orderNumber, #orderInfo.confirmation .pleasePrint {
  margin-bottom: 10px;
}
#orderInfo.confirmation #checkoutButton {
  margin-left: auto;
  display: block;
  float: none;
}
#cartReview {
  margin-bottom: 15px;
  width: 550px;
}
#cartReview td {
  padding: 6px;
}
#cartReview .subTotal {
}
#cartReview .total {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999;
  font: 31px/37px LeagueGothicRegular, Arial, sans-serif;
  text-transform: uppercase;
}
.orderFormHead {
  padding-bottom: 5px;
  text-align: left;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  margin-bottom: 5px;
}
.error {
  color: #F00;
  font-weight: bold;
}
.discount {
  color:#F00;
}
